
.godot/uid_cache.bin
.godot/editor/title.tscn-editstate-fdf3fd624da0973fd97b3ee26919cd32.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/level.tscn-editstate-0f1dc4e9daee1b92640ea17130a73e3b.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_update4
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_update4
.godot/editor/level.tscn-editstate-0f1dc4e9daee1b92640ea17130a73e3b.cfg
.godot/editor/script_editor_cache.cfg
*.cfg
.godot/editor/filesystem_update4
.godot/editor/create_recent.Node
.godot/editor/player.tscn-editstate-e6d031b4b01e7311dce0bbd1f2b58226.cfg
.godot/editor/player.tscn-folding-e6d031b4b01e7311dce0bbd1f2b58226.cfg
.godot/editor/title.tscn-editstate-fdf3fd624da0973fd97b3ee26919cd32.cfg
